body
{
	font-family: 'Open Sans', sans-serif;
	margin: 0;
	padding: 0;
}
div
{
	box-sizing: border-box;
}
.clearfix:after
{
	content: '';
	display: table;
	width: 100%;
	clear: both;
}
.container {
	width: 1470px;
	margin: 0 auto;
}

.logo {
	font-size: 28px;
	font-weight: bold;
	margin-left: 150px;
	margin-top: 43px;
	float: left;
}
.logo a
{	
	text-decoration: none;
}
nav
{
	float: right;
	margin-top: 53px;
}
.menu
{
	padding: 0;
	margin: 0;
	display: block;
}
.menu li
{
	float: left;
	margin-right: 41px;
	display: block;
}
.menu a
{
	color: #555e6d;
	font-weight: bold;
	text-decoration: none;
	font-size: 14px;
}
.line
{
    background-color: #555e6d;
    height: 1px; 
	width: 97.30%;
	margin: 0;
	padding: 0;
}
.layout 
{ 
	margin-left: 60px;
	width: 1463px;
}
.sidebar {
	margin-top: 30px;
	text-align: center;
	font-size: 16px;
	color: #555e6d;
 	width: 200px; 
 	float: right; 
}
.field
{
	margin-top: 5px;
	width: 200px;
	margin-bottom: 15px;
	height: 20px;
}
.field2
{
	height: 50px;
	width: 200px;
	margin-bottom: 15px;
}
.btn 
{
	width: 200px;
	background-color: #555e6d;
	height: 50px;
	border-radius: 5px;
	font-size: 14px;
	color: #000;
}
.first-container
{
	margin-top: 50px;
	width: 1104px;
	margin-left: 105px;
}
.title
{
	margin-left: 275px;
	text-decoration: none;
	text-align: center;
}
h3
{
	color:#000;
	margin: 0;
	padding: 0;
}
.services_item
{
	width: 322px;
	float: left;
}
.services_item p
{
	font-size: 18px;
}
.services_item:last-child
{
	float: right;
}
.services_item:nth-child(2)
{
	margin-left: 80px;
	margin-top: 10px;
}
.second-container
{
	margin-top: 10px;
	width: 1104px;
	margin-left: 105px;
}
.second-services_item
{
	float: left;

}
.second-services_item p
{
	font-size: 18px;
}
.second-services_item:last-child
{
	float: right;
	width: 750px;
}
.third-container
{
	margin-top: 10px;
	width: 1104px;
	margin-left: 105px;
}
.third-services_item
{
	float: left;
	width: 740px;
}
.third-services_item p
{
	font-size: 18px;;
}
.third-services_item:last-child
{
	float: right;
	width: 300px;
}
.line2
{
	background-color: #555e6d;
    height: 1px; 
    width: 100%;
	margin: 0;
	padding: 0;
}
.fourth-container
{
	margin-left: 104px;
	margin-top: 25px;
	width: 1104px;
}
.fourth-services_item
{
	float: left;
	text-align: center;
	font-size: 14px;
}
.fourth-services_item:nth-child(2)
{
	margin-left: 85px;
	text-align: center;
}
.fourth-services_item:nth-child(3)
{
	margin-left: 85px;
	text-align: center;
}
.fourth-services_item:last-child
{
	float: right;
	text-align: center;
}
.footer-container
{
	margin-left: 104px;
	margin-top: 20px;
	width: 1460px;
	height: 60px;
	background: linear-gradient(to left, #ebebeb, #f9fbff);
}
.link a
{
	float: right;
	margin-top: 15px;
	text-decoration: none;
	margin-right: 45px;
}